apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: db
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: db
        image: mysql:5.7.17
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: test
        ports:
        - containerPort: 3306
        resources:
          requests:
            cpu: "1m"
