<div id="app">
    <div class="container">

        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <router-link class="navbar-brand" exact to="/">
            BoxBoat Blog
        </router-link>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
                <router-link tag="li" class="nav-item" active-class="active" exact to="/">
                    <a class="nav-link">Posts</a>
                </router-link>
                <router-link tag="li" class="nav-item" active-class="active" to="/authors">
                    <a class="nav-link">Authors</a>
                </router-link>
            </ul>
        </div>
        </nav>

        <transition name="fade" mode="out-in">
            <router-view class="view"></router-view>
        </transition>
    </div>

</div>
