.view {
    padding: 16px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer .container {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

#footerContent {
    color: #777;
    padding: 10px;
    text-align: center;
}
